<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>New Car</title>
    </head>
    <body>
        <h1>You created a new car posting!</h1>
        <p>{{ postCar.getMakeModel }}</p>
        <p>{{ postCar.getPrice }}</p>
        <p>{{ postCar.Mileage }}</p>

        <a href="/">Home</a>
    </body>
</html>
